extends layout

block content
  h1= title
  p Welcome to #{title}

  p I will try the future below in this sandbox.
    ol
      li= 'Use express to build a website (The sandbox it self.)'
      li= 'Use pug to develop the pages.'
      li= 'Operate a database.'
      li= 'Use mocha to do the unit test.'


